body {
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.075em;
  font-weight: 500;
}
* {
  box-sizing: border-box;
}

.container {
  margin: 2vw 0;
}

/* Header */

.header {
  display: grid;
  grid-template-columns: 1fr 2.5fr;  
  justify-items: center;
  align-items: center;
}
.logo {
  justify-self: end;
  text-align: right;
  padding-right: 1.5vw;
}
.logo > img {
    max-width: 60%;
    height: auto;
}

.right-side-header {
  display: grid;
  grid-template-rows: auto auto;  
  align-items: start;
  justify-items: end;
  font-size: 0.900em;
  font-weight: bold;

  /* margin-top: auto;
    margin-right: 4vw;
    text-align: right; */
}

.contact {
  margin-bottom: 15px;
  margin-right: 6px;

  /* display: grid;
    grid-template-columns: repeat(3,auto); */
}
.contact > a {
  margin-left: 2vw;
  text-decoration: none;
  color: #000;
}
.contact > a > .phone {
  color: #ecc511;
}
.contact > a > svg {
  position: relative;
  top: 10;
}
.navbar {
  margin-right: 6px;
}
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-item {
  display: inline;
  float: left;
}
.nav-link {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: underline #ecc511 solid 4px;
  text-underline-position: under;
}

/* Banner */
.banner {
  clear: both;
  text-align: left;
  background-image: url("/materiale/slider.jpg");
  background-repeat: no-repeat;
  background-size: cover;  
  max-height: 60%;
}
.banner-image {
  display: block;
  width: 100%;
  position: relative;
  height: 40%;
}
.banner > div {
  padding: 5vw 0 2vw 20vw;
  color: #fff;
  line-height: 20px;
  height: max-content;
  font-size: 2.5em;
}
.banner > div > h1 {
  font-weight: 1000;
}

.banner-btn {
  background-color: #7a0202;
  color: #fff;
  padding: 5px 20px;
  opacity: 70%;
}

/* Features */
.features-header {
  margin-top: 3vw;
}
.features-header > p {
  line-height: 27px;
}

.features-row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 4vw;
  justify-content: center;
  gap: 3vw;
}

/* Testimonials */

.testimonials {
  background-image: url("/materiale/trae.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3vw;
}

.testimonial-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px,560px));
  justify-content: center;  
  gap: 0 5px;
  padding: 1.5vw;
  
}

.testimonial-col {
  text-align: left;
  
  
}
.testimonial-col > p {
  /* line-height: 30px; */
  /* margin: auto; */
}

.testimonial-images {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  padding-bottom: 2vw;
}

.testimonial-images img:nth-child(2),
img:nth-child(3) {
  align-self: center;
}

/* Contact us */
.contact-us {
  margin-top: 4vw;
}
.contact-us > p {
  line-height: 27px;
}
.contact-us-row {
  display: grid;
  grid-template-columns: 1.5fr 2.4fr 3.4fr 1fr;
  /* gap: 1vw; */
  justify-content: center;
  /* justify-items: center; */
  /* margin-left: 5vw; */
}

.contact-us-form {
  grid-column: 2/3;
  padding: 1vw;
}

.contact-us-form > input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  border: 3px solid #ddd;
}
.contact-us-form > button {
  background-color: #7a0202;
  color: #fff;
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  /* grid-column: 1/2; */
}
.contact-us-row > img {
  grid-column: 3/4;
  max-width:100%;
  height:95%;
  border: 0;
  padding: 0.7vw;
}

/* Footer */
.footer {
  background-color: #222;
  color: #fff;
  /* display: grid;
  grid-template-rows: auto auto;
  gap: 2vw; */
  /* padding: 2vw 0; */
  margin-top: 2vw;
  /* justify-content: space-between; */
}
.footer-images {
  display: grid;
  grid-template-columns: auto auto auto;

  justify-content: center;
  gap: 0 12vw;
  /* margin-left: 15vw; */
  width: 100%;
}
.footer-images > img {
  display: block;
  margin: auto;
}
.ankenævn {
  text-align: right;
  /* margin: auto; */
  justify-self: center;
}
.ankenævn-info {
  font-size: medium;
  display: inline;
}
.ankenævn-info-heading {
  font-weight: bold;
  font-size: larger;
}

.footer-contact {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  margin-left: 4vw;
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .header {
    display: block;
  }
  .logo{
      text-align: center;
  }
  .logo>img{
      /* width: auto; */
  }
  .right-side-header {
    display: block;
  }
  .nav-item {
    display: block;
    float: none;
  }
  .features-row {
    display: block;
  }
  .testimonial-row {
    display: block;
  }
  .testimonial-images {
    display: block;
    text-align: center;
  }
  .testimonial-images > img {
    display: block;
    margin: 20px auto;
  }
  .contact-us-row {
    display: block;
  }
  .contact-us-row > img {
    max-width:70%;
    height:60%;
  }
  .footer-images {
    display: block;
  }
  .ankenævn > p {
    text-align: center;
  }
  .footer-contact {
    display: block;
  }
  .contact-us-row > iframe {
    height: fit-content;
  }
}
