body {
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.175em;
  font-weight: 500;
}
* {
  box-sizing: border-box;
}

.container {
  margin: 2vw 0;
}

/* Header */

.header {
  display: grid;
  grid-template-columns: 1fr 2.6fr;
  justify-items: center;
  align-items: center;
}
.logo {
  justify-self: end;
  text-align: right;
}
.logo > img {
  margin-top: 15px;
  width: 50%;
  height: auto;
}

.right-side-header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto;
  grid-gap: 10px;
  align-items: start;
  justify-items: end;

  /* margin-top: auto;
    margin-right: 4vw;
    text-align: right; */
}

.contact {
  margin-bottom: 15px;
  margin-right: 6px;

  /* display: grid;
    grid-template-columns: repeat(3,auto); */
}
.contact > a {
  margin-left: 2vw;
  text-decoration: none;
  color: #000;
}
.contact > a > .phone {
  color: #ecc511;
}
.contact > a > svg {
  position: relative;
  top: 10;
}
.navbar {
  margin-right: 6px;
}
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-item {
  display: inline;
  float: left;
}
.nav-link {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: underline #ecc511 solid 4px;
  text-underline-position: under;
}

.banner {
  text-align: left;
  width: 100%;
  height: 500px;
  background-image: url("/materiale/slider.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner > div {
  position: absolute;
  left: 550;
  top: 350;
  color: #fff;
  font-size: x-large;
}

.banner-btn {
  background-color: #7a0202;
  color: #fff;
  width: 50%;
  padding: 5px 20px;
  opacity: 70%;
}

/* Features */
.features-header {
  margin-top: 3vw;
}
.features-header > p {
  line-height: 27px;
}

.features-row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 4vw;
  justify-content: center;
  gap: 3vw;
}

/* Testimonials */

.testimonials {
  background-image: url("/materiale/trae.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3vw;
}

.testimonial-row {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 2vw;
}

.testimonial-col {
  text-align: left;
}
.testimonial-col > p {
  line-height: 30px;
}

.testimonial-images {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  padding-bottom: 2vw;
}

.testimonial-images img:nth-child(2),
img:nth-child(3) {
  align-self: center;
}

/* Contact us */
.contact-us {
  margin-top: 4vw;
}
.contact-us > p {
  line-height: 27px;
}
.contact-us-row {
  display: grid;
  grid-template-columns: 1fr 2.2fr 3fr 1fr;
  gap: 2vw;
  justify-content: center;
  /* justify-items: center; */
  margin-left: 5vw;
}

.contact-us-form {
  grid-column: 2/3;
  height: 80%;
}

.contact-us-form > input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  border: 3px solid #ddd;
}
.contact-us-form > button {
  background-color: #7a0202;
  color: #fff;
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  /* grid-column: 1/2; */
}
.contact-us-row > iframe {
  grid-column: 3/4;
  height: 80%;
}

/* Footer */
.footer {
  background-color: #222;
  color: #fff;
  /* display: grid;
  grid-template-rows: auto auto;
  gap: 2vw; */
  /* padding: 2vw 0; */
  margin-top: 2vw;
  /* justify-content: space-between; */
}
.footer-images {
  display: grid;
  grid-template-columns: auto auto auto;

  justify-content: center;
  gap: 0 12vw;
  /* margin-left: 15vw; */
  width: 100%;
}
.footer-images > img {
  display: block;
  margin: auto;
}
.ankenævn {
  text-align: right;
  /* margin: auto; */
  justify-self: center;
}
.ankenævn-info {
  font-size: medium;
  display: inline;
}
.ankenævn-info-heading {
  font-weight: bold;
  font-size: larger;
}

.footer-contact {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  margin-left: 4vw;
  margin-bottom: 0;
}
@media (max-width:1200px) {
    .features-row{
        display: block;
    }
    .testimonial-row{
        display: block;
    }
    .testimonial-images{
        display: block;
        text-align: center;
    }
    .testimonial-images>img{
        display: block;
        margin: 20px auto;
    }
    .contact-us-row{
        display: block;
    }
    .footer-images{
        display: block;
    }
    .ankenævn>p{
        text-align: center;
    }
    .footer-contact{
        display: block;
    }
    
}
